<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="cetiConfiguration" type="Ceti.Core.Configuration.CetiConfigurationSection, Ceti.Core"/>
    </configSections>

    <cetiConfiguration>
        <serviceProviders>
            
            <!--
            <dataServiceProviders>
                <dataServiceProvider name="n1" value="v1" />
                <dataServiceProvider name="n2" value="v2" />
            </dataServiceProviders>
            
            <executionServiceProviders>
                <executionServiceProvider name="n1" value="v1" />
                <executionServiceProvider name="n2" value="v2" />
            </executionServiceProviders>
            
            <interceptionServiceProviders>
                <interceptionServiceProvider name="n1" value="v1" />
                <interceptionServiceProvider name="n2" value="v2" />
            </interceptionServiceProviders>
            -->
            
        </serviceProviders>

        <globalData>
            <data name= "n1" value="v1" />
            <data name= "n2" value="v2" />
        </globalData>
    </cetiConfiguration>

</configuration>
